/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* delete this */ 
.align-bottom {
     vertical-align: bottom;
     float: none;
     display: table-cell;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}