{% extends "app/layout.html" %}

{% block content %}

{% load staticfiles %}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <img src="{% static 'app/content/images/logo.png' %}" alt="logo" class="img-responsive">
        </div>
        <div class="col-xs-12 col-md-10">
            <h1>QRAccess</h1>
            <p class="lead">QRAccess is a tool for managin physical access permission at buildings and events</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 pull-right">
            <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create an account</h2>
        <p>
            Stop using plastic access cards and relying on human guards, now!
        </p>
    </div>
    <div class="col-md-4">
        <h2>How does it work?</h2>
        <p>All the juicy details.</p>
    </div>
    <div class="col-md-4">
        <h2>Secure your building</h2>
        <p>Tips & tricks, how-to's and thumb rules.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-info" href="http://www.djangobook.com/en/2.0/index.html">Registration &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-info" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-info" href="http://azure.microsoft.com">Tips &raquo;</a></p>
    </div>
</div>

{% endblock %}
