<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - QRAccess</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'app/content/images/favicon.ico' %}">
    {% if generating_qr %}
    <script src="{% static 'app/scripts/kjua-0.1.1.min.js' %}"></script>
    {% endif %}

    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">QRAccess</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'list_events' %}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> My events</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'create_event' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create event</a></li>
                      </ul>
                    </li>
                    {% endif %}
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br />
        <br />
        <br />

        {% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - QRAccess</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>

    {% if creating_event %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker();
        });

        document.getElementById("id_start_date").className += " form-control";
        document.getElementById("id_end_date").className += " form-control";

        
    </script>
    {% endif %}

    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
